<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head')%>
  </head>
  <body>
    <%- include('partials/_nav')%>
    <section class="container-fluid poll-vote-page">
      <section class="row voter-info">
        <section class="vote col-md-5 col-sm-10">
          <section class="poll-info">
            <h1 class="poll-title" data-id="<%= pollResult.id %>"><%= pollResult.title %></h1>
            <p class="poll-description"><%= pollResult.description %></p>
          </section>

          <section class="poll-choices">
            <span class="thumbs">&uarr;</span>
            <ol class='choices-list'>
              <% choiceResult.forEach((result) => { %>
              <li class='choice' data-description='<%=
              result.description %>' data-id="<%= result.id %>">
                <%= result.title %>
              </li>
              <% }); %>
            </ol>
            <span class="thumbs">&darr;</span>
          </section>
          <section class="form-group">
            <section class="poll-submit">
                <div class="inline-vote">
                  <div class="name-input-box">
                    <input type="text" name="voter_name" class="name-input form-control" placeholder="Name">
                  </div>
                <button class="vote-btn btn btn-primary">Vote!</button>
              </div>
              <section class="status-area"></section>
          </section>
        </section>
      </section>
      <aside class="choice-info-block col-md-5">
        <div class="embedly-frame">
          <iframe class="embedly-embed" src="">
        </div>
      </aside>
      <%- include('partials/_modal_ajaxsuccess')%>
    </section>
  </body>
</html>
