<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Now using common _head with bootstrap-->
    <%- include('partials/_head')%>

    <script type="text/javascript" src="/vendor/jquery.embedly-3.1.1.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery-sortable.js"></script>
    <script type="text/javascript" src="/scripts/draggable.js"></script>
    <script type="text/javascript" src="/scripts/client-helpers.js"></script>
<<<<<<< HEAD
    <script type="text/javascript" src="/vendor/jquery.embedly-3.1.1.min.js"></script>
    <script type="text/javascript" src="/scripts/test-app.js"></script>
    
=======
    <script type="text/javascript" src="/scripts/test-app.js"></script>
>>>>>>> f4e805de8d419f0c0f44c115ecfef0f61689e95e

  </head>
  <%- include('partials/_nav')%>

  <body>
    <section class="container-fluid poll-vote-page">
      <section class="row voter-info">
        <section class="vote col-md-7">
          <section class="poll-info">
            <h1 class="poll-title" data-id="<%= pollResult.id %>"><%= pollResult.title %></h1>
            <p class="poll-description"><%= pollResult.description %></p>
          </section>

          <section class="poll-choices">
            <ol class='choices-list'>
              <% choiceResult.forEach((result) => { %>
              <li class='choice' data-description='<%=
              result.description %>' data-id="<%= result.id %>">
                <%= result.title %>
              </li>
              <% }); %>
            </ol>
          </section>
          <section class="form-group">
            <section class="poll-submit">
              <label for="voter_name">Type in your name here:</label>
                <div class="inline-vote">
                  <div class="name-input-box">
                    <input type="text" name="voter_name" class="name-input form-control">
                  </div>
                <button class="vote-btn btn btn-primary">Vote!</button>
              </div>
              <section class="status-area"></section>
            </section>
          </section>
        </section>
        <aside class="choice-info-block col-md-3">
        </aside>
      </section>
      <%- include('partials/_modal_ajaxsuccess')%>
    </section>
  </body>
</html>
