<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Now using common _head with bootstrap-->
    <%- include('partials/_head')%>

    <!-- Draggable jQuery UI functions-->
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    <script type="text/javascript" src="/vendor/jquery-sortable.js"></script>
    <script type="text/javascript" src="/scripts/draggable.js"></script>
    <script type="text/javascript" src="/scripts/test-app.js"></script>


    <!-- TEST CSS/JS partial -->
    <!--<%- include('partials/_test')%>-->

  </head>
  <%- include('partials/_nav')%>

  <body>
    <section class="container-fluid">
      <div class="row voter-info">
        <section class="vote col-md-7">
          <!-- TODO: Display title FROM 'polls'-->
          <h1 class="poll-title">What to do on Saturday Night?</h1>

          <section class="poll-choices">
            <!-- TODO: Display all choices FROM 'choices' WHERE poll_id = id-->
            <ol class='choices-list'>
              <% results.forEach((result) => { %>
              <li class='choice' data-description='<%= result.description %>'>
                <%= result.title %>
              </li>
              <% }); %>
              <!-- <li class="choice" data-description="There's unlimited juice? This party is gonna be oooffff the hooook.">party at my place</li>
              <li class="choice" data-description=";) ;) ;) ;)">netflix and chill</li>
              <li class="choice" data-description="love dem nachos">nachos night at warehouse</li>
              <li class="choice" data-description="i luv birds">watch some birds</li> -->
            </ol>
          </section>
           <button class="vote-btn btn btn-primary">Vote!</button>


        </section>
        <aside class="choice-info-block col-md-3">
            <h2></h2>
            <p></p>
        </aside>
      </div>

    </section>
  </body>
</html>
