<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Now using common _head with bootstrap-->
    <%- include('partials/_head')%>

    <script type="text/javascript" src="/vendor/jquery-sortable.js"></script>
    <script type="text/javascript" src="/scripts/draggable.js"></script>
    <script type="text/javascript" src="/scripts/test-app.js"></script>


  </head>
  <%- include('partials/_nav')%>

  <body>
    <section class="container-fluid poll-vote-page">
      <div class="row voter-info">
        <section class="vote col-md-7">
          <!-- TODO: Display title FROM 'polls'-->
          <h1 class="poll-title"><%= pollResult %></h1>
          <!-- <h1 class="poll-title">What to do on Saturday Night?</h1> -->

          <section class="poll-choices">
            <!-- TODO: Display all choices FROM 'choices' WHERE poll_id = id-->
            <ol class='choices-list'>
              <% choiceResult.forEach((result) => { %>
              <li class='choice' data-description='<%=
              result.description %>' data-id="<%= result.id %>">
                <%= result.title %>
              </li>
              <% }); %>
            </ol>
          </section>
          <section class="form-group">
            <label for="voter_name">Type in your name here:</label>
            <div class="name-input-box">
              <input type="text" name="voter_name" class="name-input form-control">
            </div>
            <button class="vote-btn btn btn-primary">Vote!</button>
            <div class="status-area"></div>

          </section>
        </section>
        <aside class="choice-info-block col-md-3">
            <h2></h2>
            <p></p>
        </aside>
      </div>

    </section>
  </body>
</html>
